 <!-- start header -->
<header>
    <!-- start navigation -->
    <nav class="navbar navbar-default bootsnav navbar-top header-light background-transparent nav-box-width white-link navbar-expand-lg">
        <div class="container-fluid nav-header-container">
            <!-- start logo -->
            @await Component.InvokeAsync("MainLogo")
            <!-- end logo -->
            <div class="col accordion-menu pe-0 pe-md-3">
                <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-toggle-1">
                    <span class="sr-only">toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @await Component.InvokeAsync("MenuHeader")
            </div>
            <div class="col-auto pe-0">
                <div class="header-searchbar">
                    <a href="#search-header" class="header-search-form"><i class="fas fa-search search-button"></i></a>
                    <!-- search input-->
                    @await Component.InvokeAsync("Search")
                </div>
                @await Component.InvokeAsync("SocialMediaHeader")
            </div>
        </div>
    </nav>
    <!-- end navigation -->
</header>
<!-- end header -->