
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync("HeaderTop")
<!-- start page not found section -->
<section id="home" class="parallax p-0 mobile-height wow animate__fadeIn" data-parallax-background-ratio="0.5" style="background-image:url('/SiteTemplate/assets/images/parallax-bg31.jpg');">
    <div class="opacity-full bg-extra-dark-gray"></div>
    <div class="container position-relative full-screen">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <div class="bg-black-opacity-light w-50 mx-auto md-w-80 xs-w-95">
                    <div class="padding-fifteen-all sm-padding-twelve-all xs-padding-25px-all">
                        <span class="title-extra-large text-white-2 font-weight-600 d-block margin-30px-bottom sm-margin-10px-bottom">404!</span>
                        <h6 class="text-uppercase text-deep-pink font-weight-600 alt-font d-block margin-5px-bottom">Page Not Found</h6>
                        <span class="text-medium-gray w-60 d-block mx-auto text-large md-w-100">The page you were looking for could not be found.</span>
                        <form asp-action="index" asp-controller="blogs" method="get" class="position-relative">
                            <div class="input-group-404 input-group margin-50px-tb sm-margin-20px-tb">
                                <input name="SearchKey" id="text" onchange="sendParameter(this.value)" data-email="required" type="text" placeholder="Enter your keywords..." class="extra-big-input border-none form-control" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-large bg-white text-medium-gray search-button"><i class="ti-search icon-small m-0 position-raltive top-2"></i></button>
                                </div>
                            </div>
                        </form>
                        <a href="/" class="btn btn-transparent-white btn-medium text-extra-small border-radius-4"><i class="ti-arrow-left margin-5px-right ms-0" aria-hidden="true"></i> Back To Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page not found section -->

