@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- END: Top Bar -->
<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium ml-auto">
        نمایش اطلاعات ثبت شده
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
    </div>
</div>
<!-- BEGIN: Invoice -->
<div class="intro-y box overflow-hidden mt-5">
    <div class="border-b border-gray-200 dark:border-dark-5 text-center sm:text-right">
        <div class="flex flex-col lg:flex-row px-5 sm:px-20 pt-10 pb-1 sm:pb-2">

            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">نام کامل</div>
                <div class="mt-1">Mohammad saadati</div>
            </div>

            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">تلفن</div>
                <div class="mt-1">afaridteamgmail.com</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">ایمیل</div>
                <div class="mt-1">afaridteamgmail.com</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">کشور</div>
                <div class="mt-1">اوکراین</div>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row px-5 sm:px-20 pt-10 pb-1 sm:pb-2">
            
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">نوع</div>
                <div class="mt-1">دستباف</div>
            </div>

            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">رنگ</div>
                <div class="mt-1">ابی</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">اندازه</div>
                <div class="mt-1">3*4</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">مواد</div>
                <div class="mt-1">پشم</div>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row px-5 sm:px-20 pt-10 pb-10 sm:pb-20">
            
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">شکل</div>
                <div class="mt-1">دایره</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">تاریخ تحویل</div>
                <div class="mt-1">2018/15/14</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">آدرس تحویل</div>
                <div class="mt-1">شدنشقش تاان انان نااناتن</div>
            </div>
        </div>

    </div>

</div>
<!-- END: Invoice -->
