@using Store.Application.Services.Users.Command.Site.SignInUser;
@model RequestSignInUserDto;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" class="light">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="~/AdminTemplate/assets/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rubick admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Rubick Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>ورود - روبیک - قالب مدیریتی تیلوند اچ تی ام ال</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="~/AdminTemplate/assets/css/app.css">
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="login">
    <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
            <!-- BEGIN: Login Info -->
            <div class="hidden xl:flex flex-col min-h-screen">
                <a href="" class="-intro-x flex items-center pt-5">
                    <img alt="Rubick Tailwind HTML Admin Template" class="w-6" src="~/AdminTemplate/assets/images/logo.svg">
                    <span class="text-white text-lg mr-3">کا<span class="font-medium">رگ</span> </span>
                </a>
                <div class="my-auto">
                    <img alt="Rubick Tailwind HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="~/AdminTemplate/assets/images/illustration.svg">
                    <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                        ورود به مدیریت
                    </div>
                    <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-gray-500">کارگ | Karg</div>
                </div>
            </div>
            <!-- END: Login Info -->
            <!-- BEGIN: Login Form -->
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <div class="my-auto mx-auto xl:mr-20 bg-white dark:bg-dark-1 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-right">
                        ورود
                    </h2>
                    <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">چند کلیک دیگر برای ورود به اکانت خود دارید . همه حساب های تجارت الکترونیکی خود را در یک مکان مدیریت کنید</div>
                    <form id="LoginForm">
                        <div class="intro-x mt-8">
                            <input asp-for="UserName" required type="text" class="intro-x login__input form-control py-3 px-4 border-gray-300 block" placeholder="نام کاربری">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            <input asp-for="Password" required type="password" class="intro-x login__input form-control py-3 px-4 border-gray-300 block mt-4" placeholder="رمزعبور">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="intro-x flex text-gray-700 dark:text-gray-600 text-xs sm:text-sm mt-4">
                            <div class="flex items-center ml-auto">
                                <input asp-for="RememberMe" type="checkbox" class="form-check-input border ml-2">                            <label class="cursor-pointer select-none" for="remember-me">مرا به خاطر داشته باش</label>
                            </div>
                            <a href="">فراموشی رمز عبور؟</a>
                        </div>
                        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-right">
                            <button type="submit" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:ml-3 align-top" id="btnlogin">ورود</button>
                        </div>
                        <div class="intro-x mt-10 xl:mt-24 text-gray-700 dark:text-gray-600 text-center xl:text-right">
                            با ورود شما تمامی شرایط زیر را میپذیرید
                            <br>
                            <a class="text-theme-1 dark:text-theme-10" href="">قوانین و مقررات</a> و <a class="text-theme-1 dark:text-theme-10" href="">حریم شخصی</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END: Login Form -->
        </div>
    </div>
    <!-- BEGIN: Success Notification Content -->
    <div id="success-notification-content" class="toastify-content hidden flex">
        <i class="text-theme-9" data-feather="check-circle"></i>
        <div class="ml-4 mr-4">
            <div class="font-medium"> موفق</div>
            <div class="text-gray-600 mt-1">ورود شما موفقیت آمیز بود</div>
        </div>
    </div>
    <!-- END: Success Notification Content -->
    <!-- BEGIN: Failed Notification Content -->
    <div id="failed-notification-content" class="toastify-content hidden flex">
        <i class="text-theme-6" data-feather="x-circle"></i>
        <div class="ml-4 mr-4">
            <div class="font-medium">ناموفق</div>
            <div class="text-gray-600 mt-1">فرم را چک کنید</div>
        </div>
    </div>
    <!-- END: Failed Notification Content -->
    <!-- BEGIN: JS Assets-->
    <script src="~/AdminTemplate/assets/js/jquery.js"></script>
    <script src="~/AdminTemplate/Library/toastify-js/toastify.min.js"></script>
    <script src="~/AdminTemplate/Library/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/AdminTemplate/Library/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/AdminTemplate/Library/jquery-validate/localization/messages_fa.min.js"></script>
    <script src="~/AdminTemplate/assets/js/main.js"></script>
    <script src="~/AdminTemplate/assets/js/app.js"></script>
    <!-- END: JS Assets-->
    <script>
        $('#LoginForm').on("submit", function (e) {
            event.preventDefault();
            if ($(this).valid()) {
                $("#btnlogin").text("لطفا صبر کنید...");

                let elementItems = e.target;
                let UserName = elementItems.UserName.value
                let Password = elementItems.Password.value
                let RememberMe = $('#RememberMe').is(':checked') ? true : false;
                const urlParams = new URLSearchParams(window.location.search);
                const Url = urlParams.get('ReturnUrl');
                var data = {
                    UserName, Password, RememberMe,Url
                }
                console.log(data);
                //ajax request
                ajaxFunc("Login", data, "POST",
                    function (result) {
                        if (result.isSuccess) {
                            successToastify.showToast();
                            console.log(result);
                            window.location.replace(result.data.returnUrl);
                        } else {
                            dangerToastify.showToast();
                            $("#btnlogin").text("ورود");
                        }
                    },
                    function (error) {
                        $("#btnlogin").text("ورود");
                        dangerToastify.showToast();
                        console.log(error);
                    }
                )
            }

        });
    </script>
</body>
</html>
