@using Store.Application.Services.SiteContacts.Queries.GetSocialMediaForSite;
@model List<GetSocialMediaSiteDto>
@if(Model.Count>0)
{
    <div class="margin-50px-bottom sm-margin-25px-bottom">
        <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Follow Us</span></div>
        <div class="social-icon-style-1 text-center">
            <ul class="extra-small-icon">
                @foreach (var social in Model)
                {
                    <li><a class="@social.Name" href="@social.Link" target="_blank"><i class="fab @social.CssClass"></i></a></li>
                }
            </ul>
        </div>
    </div>
}
