/* استایل دهی به توست ها */
.Toastify__toast {
    border-radius: 4px;
}

.Toastify__toast--success {
    background-color: #4caf50;
}

.Toastify__toast--error {
    background-color: #f44336;
}

.Toastify__toast--warning {
    background-color: #ff9800;
}

.Toastify__toast--info {
    background-color: #2196f3;
}

.Toastify__toast-body {
    color: #fff;
    font-size: 14px;
}

.Toastify__close-button {
    color: #fff;
    font-size: 16px;
}
/* custom-toastify.css */

/* Toast container */
.custom-toastify {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    /* Close button */
    .custom-toastify .toastify-close {
        display: inline-block;
        float: right;
        cursor: pointer;
        margin-left: 8px;
        color: white;
        font-size: 16px;
        line-height: 1;
        font-weight: bold;
    }

    /* Success toast style */
    .custom-toastify.success {
        background-color: #28a745;
    }

    /* Error toast style */
    .custom-toastify.error {
        background-color: #dc3545;
    }

    /* Warning toast style */
    .custom-toastify.warning {
        background-color: #ffc107;
    }