@{
    Layout = null;
}

@*<form class="header-form" asp-action="index"   asp-controller="products" method="get">
    <input name="SearchKey" b-96aypqljgj="" onchange="sendParameter(this.value)" type="text" placeholder="نام محصول یا برند یا دسته بندی را وارد کنید">
    <button b-96aypqljgj=""><i b-96aypqljgj="" class="fas fa-search"></i></button>
</form>*@
<form id="search-header" asp-action="index" asp-controller="blogs" method="get" name="search-header" class="search-form-result mfp-hide">
    <div class="search-form position-relative">
        <button type="submit" class="fas fa-search close-search search-button"></button>
        <input type="text" name="SearchKey" class="search-input" onchange="sendParameter(this.value)" placeholder="Enter your keywords..." autocomplete="off" style="border-top: none; border-right: none; border-bottom: 2px solid rgba(255, 255, 255, 0.5); border-left: none; border-image: initial;">
    </div>
</form>