@using Store.Application.Services.SettingsSite.Queries.GetLogoForSite;
@model GetLogoSiteDto
<a href="/" class="margin-20px-bottom d-inline-block"><img class="footer-logo" src="@Model.Image" data-at2x="@Model.Image" alt="" width="113" height="28"></a>