<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- title -->
    <title>Arikeh carpet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="MIR">
    <!-- description -->
    <meta name="description" content="">
    <!-- keywords -->
    <meta name="keywords" content="">
    <!-- favicon -->
    <link rel="shortcut icon" href="/SiteTemplate/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/SiteTemplate/assets/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/SiteTemplate/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/SiteTemplate/assets/images/apple-touch-icon-114x114.png">
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" type="text/css" href="/SiteTemplate/assets/css/bootsnav.css">
    <link rel="stylesheet" type="text/css" href="/SiteTemplate/assets/css/font-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/SiteTemplate/assets/css/theme-vendors.min.css">
    <!-- revolution slider -->
    <link rel="stylesheet" type="text/css" href="/SiteTemplate/assets/revolution/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/SiteTemplate/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/SiteTemplate/assets/revolution/css/navigation.css">
    <!-- style sheets -->
    <link rel="stylesheet" type="text/css" href="~/SiteTemplate/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/SiteTemplate/assets/css/responsive.css" />
	<link href="~/sitetemplate/assets/css/custom-toastify.css" rel="stylesheet" />
</head>
<body>
   
   @RenderBody()

    <!-- start footer -->
    <footer class="footer-classic-dark bg-extra-dark-gray">
       @* <div class="bg-dark-footer padding-50px-tb sm-padding-30px-tb">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-12 text-center">
                        <h4 class="alt-font font-weight-600">Subscribe to our newsletter</h4>

                       <div class="col-lg-8 justify-content-center">
                            <form action="email-templates/subscribe-newsletter.php" method="post" class="position-relative" style="left: 27%;">
                                <div class="mx-0 form-results"></div>
                                <div class="input-group margin-40px-tb">
                                    <input name="email" id="email" type="email" placeholder="* Email Address" class="extra-big-input border-none form-control required required-error">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-large bg-white text-deep-pink submit"><i class="ti-email icon-small m-0"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="footer-widget-area padding-five-top padding-30px-bottom sm-padding-30px-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 widget border-right border-color-medium-dark-gray md-no-border-right md-margin-30px-bottom text-center text-sm-start">
                        <!-- start logo -->
                        @await Component.InvokeAsync("LogoFooter")
                        <!-- end logo -->
                        @await Component.InvokeAsync("FooterDescription")
                        <!-- start social media -->
                        @await Component.InvokeAsync("SocialMediaFooter")
                        <!-- end social media -->
                    </div>
                    <!-- start additional links -->
                    <div class="col-lg-3 col-sm-6 widget border-right border-color-medium-dark-gray padding-45px-left md-padding-15px-left md-no-border-right md-margin-30px-bottom text-center text-sm-start">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Additional Links</div>
                        <ul class="list-unstyled">
                            <li><a class="text-small" href="home-classic-corporate.html">Home Classic Corporate</a></li>
                            <li><a class="text-small" href="home-creative-business.html">Home Creative Business</a></li>
                            <li><a class="text-small" href="home-portfolio-parallax.html">Home Portfolio  parallax</a></li>
                            <li><a class="text-small" href="home-portfolio-personal.html">Home Portfolio Personal</a></li>
                        </ul>
                    </div>
                   
                    <!-- end additional links //// -->
                    <!-- start contact information -->
                    @await Component.InvokeAsync("ContactInfoFooter")
                    <!-- end contact information -->
                    <!-- start subscribe -->
                    <div class="col-lg-3 col-sm-6 widget xs-margin-30px-bottom text-center text-sm-start">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">Subscribe Newsletter</div>
                        <p class="text-small w-90 sm-w-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <!-- end subscribe -->
                </div>
            </div>
        </div>
        <div class="bg-dark-footer padding-50px-tb text-center sm-padding-30px-tb">
            <div class="container">
                <div class="row">
                    <!-- start copyright -->
                    <div class="col-md-6 text-md-start text-small text-center">© 2023 Powered by <a href="" target="_blank" class="text-dark-gray">ARIKEH</a></div>
                    <div class="col-md-6 text-md-end text-small text-center">
                        <a href="javascript:void(0);" class="text-dark-gray">Term and Condition</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" class="text-dark-gray">Privacy Policy</a>
                    </div>
                    <!-- end copyright -->
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top -->
    <!-- javascript -->
   
    <script type="text/javascript" src="~/SiteTemplate/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/SiteTemplate/assets/js/bootsnav.js"></script>
    <script type="text/javascript" src="~/SiteTemplate/assets/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/SiteTemplate/assets/js/hamburger-menu.js"></script>
    <script type="text/javascript" src="~/SiteTemplate/assets/js/theme-vendors.min.js"></script>
    <!-- revolution -->
	<script src="~/sitetemplate/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="~/sitetemplate/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
   
    <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
    <script type="text/javascript" src="/SiteTemplate/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/SiteTemplate/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/SiteTemplate/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/SiteTemplate/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/SiteTemplate/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/SiteTemplate/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/SiteTemplate/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/SiteTemplate/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/SiteTemplate/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!-- setting -->
    <script type="text/javascript" src="~/SiteTemplate/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts",required:false)
</body>
</html>







