@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Localization;
@using Store.Application.Services.Langueges.Queries;
@using System.Globalization;

@model AllLanguegeDto
@{
    Layout = null;
    var userLanguage = CultureInfo.CurrentCulture.Name;

}
<div class="lang-box">
    @foreach (var item in ViewBag.LanList)
    {
        <a id="@item.Id" href="#" data-culture="@item.Culture" class="language-link @(item.Culture==userLanguage ? "active-lang":"")">@item.Name.Substring(0,2)</a>
    }
</div>