<nav class="navbar bootsnav navbar-expand-lg alt-font">
    <div id="navbar-menu" class="collapse navbar-collapse no-padding">
        <ul id="menuContainer" class="nav navbar-nav margin-80px-bottom">
         @Html.Raw(ViewBag.MenuHtml)
           @* <li>
                <div class="side-left-menu-close close-side"></div>
            </li>*@
        </ul>
    </div>
</nav>
