 <!-- start header -->
<header>
    <div class="left-nav">
        <!-- start logo -->
        @await Component.InvokeAsync("MainLogo")
        <!-- end logo -->
        <div class="sidebar-part2">
            <div class="sidebar-middle">
                <div class="sidebar-middle-menu alt-font font-weight-600">
                    @await Component.InvokeAsync("Menu")
                    <div class="right-bg">
                        <a class="text-small rotate-90" href="">contact us</a>
                        <a class="text-small rotate-91" href="">whatsapp support</a>
                        <a class="text-small rotate-92" href="">virtual tour</a>
                        <div class="header-searchbar">
                            <a href="#search-header" class="header-search-form"><i class="fas fa-search search-button"></i></a>
                            <!-- search input-->
                            @await Component.InvokeAsync("Search")
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="sidebar-part3">
            <div class="bottom-menu-icon">
                <a href="javascript:void(0);" class="right-menu-button text-extra-dark-gray nav-icon" id="showRightPush">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("SocialMedia")
</header>
<!-- end header -->